
.collage-carousel {
    position: relative;
}

.company-side {
    background: white;
}

.collage-carousel .item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.collage-carousel .item.active {
    z-index: 10;
}

.collage-carousel .collage {
    display: grid;
    position: relative; 
    grid-template-columns: repeat(12, 1fr);
    margin: 30px;
}
.collage-carousel .collage .img-wrap {
    grid-column: 4 / -1;
    grid-row: 1;
}
.collage-carousel .item:nth-child(1) .collage .img-wrap {
    transform: rotate(-4deg);
}
.collage-carousel .item:nth-child(2) .collage .img-wrap {
    transform: rotate(10deg);
}
.collage-carousel .item:nth-child(3) .collage .img-wrap {
    transform: rotate(-10deg);
}
.collage-carousel .item:nth-child(4) .collage .img-wrap {
    transform: rotate(-16deg);
}
.collage-carousel .item:nth-child(5) .collage .img-wrap {
    transform: rotate(5deg);
}
.collage-carousel .item:nth-child(6) .collage .img-wrap{
    transform: rotate(15deg);
}
.collage-carousel .item.active .collage .img-wrap {
    transform: rotate(-2deg) !important;
}


.collage-carousel .collage img {
    width: 100%;
    display: block;
}