
#block .owl-carousel {
    border: 5px solid green;
    display: flex !important;
    overflow: hidden;
}
#block .owl-carousel .item {
    overflow: hidden;
}
#block .owl-carousel .collage {
    display: grid;
    position: relative; 
    grid-template-columns: repeat(12, 1fr);
    margin: 30px;
}
#block .owl-carousel .collage .img-wrap {
    grid-column: 4 / -1;
    grid-row: 1;
}
#block .owl-carousel .collage .img-wrap:nth-child(1) {
    transform: rotate(-4deg);
}
#block .owl-carousel .collage .img-wrap:nth-child(2) {
    transform: rotate(10deg);
}
#block .owl-carousel .collage .img-wrap:nth-child(3) {
    transform: rotate(-10deg);
}
#block .owl-carousel .collage .img-wrap:nth-child(4) {
    transform: rotate(-16deg);
}
#block .owl-carousel .collage .img-wrap:nth-child(5) {
    transform: rotate(5deg);
}
#block .owl-carousel .collage .img-wrap:nth-child(6) {
    transform: rotate(15deg);
}
#block .owl-carousel .collage .img-wrap:last-child {
    transform: rotate(-2deg) !important;
}


#block .owl-carousel .collage img {
    width: 100%;
    display: block;
}