
.owl-carousel {
    border: 5px solid green;
    display: flex !important;
    overflow: hidden;
}

.owl-carousel .item {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "img1 longImg"
      "img2 longImg";
}

.owl-carousel .item .img1 {
    grid-area: img1;
}
.owl-carousel .item .img2 {
    grid-area: img2;
}
.owl-carousel .item .img3 {
    grid-area: longImg;
}

.owl-carousel .item img {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
